@font-face {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Roboto', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@900&display=swap");
}


body {
    margin: 0;
    padding: 0;
    /*background-color: #0A0F35;*/
}


h1 {
    color: white;
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    width: 400px;
}

h2 {
    color: #0A0F35;
    font-family: "Noto Sans JP";
    font-size: 36px;
    text-align: center;
    margin-top: 5em;
}

h3 {
    font-family: "Noto Sans JP";
    font-size: 26px;
    color: #0A0F35;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.table_top {
    margin-top: 30em;
}

#opacity {
    opacity: 50%;
}

#container {
    background-color: #0A0F35;
    /*margin: 100px auto;*/
    width: 100%;
    height: content-box;
    clip-path: inherit;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

.top-right {
    position: absolute;
    top: 10px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 200px;
    right: 16px;
}

p {
    font-family: "Noto Sans JP";
    font-size: 20px;
    color: #0A0F35;
}

#table_container {
    margin: 100px auto;
    margin-top: 15em;
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 10px;
}

.table_image {
    width: 50px;
    height: 30px;
    padding: 10px;
}

td>ul {
    /*text-align: center;*/
    font-family: "Noto Sans JP";
    font-size: 18px;
    color: #0A0F35;
    margin-top: 2px;
    margin-left: 10px;
}

.center {
    text-align: center;
}

.table_width {
    width: 800px;
}

.table_info {
    padding: 7px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
}

th {
   text-transform: uppercase;
    letter-spacing: 1em;
    font-size: 90%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: center;
}

tr.even {
    background-color: #efefef;
}

tr:hover {
    background-color: #c3e6e5;
}

.money {
    text-align: right;
}

.table-bottom {
    margin-bottom: 10em;
}

a {
    display:block;
    text-align:center;
}